{% extends 'store/main.html' %} {% load static %} {% block content %}

<div class="row mt-2">
  {% for product in products %}
  <div class="col-lg-4 mb-2">
    <div class="product">
      <img
        src="{{product.imageUrl}}"
        alt=""
        class="product-thumbnail img-fluid"
      />
      <div class="product-details">
        <h4>{{product.name}}</h4>
        <div class="d-flex justify-content-between">
          <div>
            <button
              class="btn btn-outline-primary"
              data-product="{{product.id}}"
              data-action="add"
              @click="addCartItem"
            >
              Add to cart
            </button>
            <a class="btn btn-outline-primary" href="#">View</a>
          </div>
          <h4>{{product.price|floatformat:2}} FCFA</h4>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
